@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}
* {
margin:0;
padding: 0;
}
body {
font-family: 'Raleway';
}
.App {
display: flex;
width: 100vw;
min-height: 100vh;
}
/* .picture{
  max-height: 580px;
  max-width: 800px;
} */
.alice-carousel ul li img{
  height: 600px;
  width: 90%;
  display: block;
}

.alice-carousel__dots{
  padding-top: 10px;
  display: inline;
}

.alice-carousel__stage-item {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.alice-carousel__next-btn {
  text-align: cen;
}
.alice-carousel__wrapper {
  padding-top: 30px;
  max-width: 800px;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px ;
  flex:var(--condiv-flex);

}
.home-info {
  padding-top: 20px;
}
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav {
padding:60px 30px 0px 30px ;
flex:var(--sidebar-flex);
background-image: url(./img/blue-abstract.jpg);
/* background-repeat: no-repeat; */
background-size: auto;
background-position: right;

}

nav ul {
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li {
  margin:40px;
}
a {
  text-decoration: none;
  color: white
}

.active {
font-weight: bolder;
}

.social {
position: absolute;
margin-top: 20px;
display: flex;
bottom: 60px;
}
.social i {
padding-right: 30px;
font-size: 25px;
color: #9a9b9c;
}
.social i:hover {
color: #ffffff;
}

.subtopic {
  margin:10px 10px 30px 10px !important;
  }
p {
  font-size: var(--fontsize-p);
}

h1,h2,h3,h4,p {
  margin: 10px;
}


.widecard {
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.skillscard {
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.skillscard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.skills-ul {
  list-style-type: none;
}

.nav-resume {
  background-color: #85adad
  ;
  margin-bottom: 5px;
  padding: 10px ;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
  flex:var(--condiv-flex);
}
.resume-btns {
  padding: 10px 21px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.resume {
  box-shadow: 0 3px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

